<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CERPSOFT - CDN</title>
    <link
      rel="shortcut icon"
      href="https://gouthamguna.github.io/in/favicon.ico"
      type="image/x-icon"
    />
  </head>
  <body>
    <div id="container" style="text-align: center; font-size: 2 rem">
      <div id="header-container">
        <p><strong>CERPSOFT</strong> - INTERNAL PURPOSES CDN ONLY...</p>
      </div>
      <div id="fetch-data">Hello <span th:utext="${data}"></span></div>
    </div>
  </body>
</html>
